<!-- <div class="speech-container"> 
  
    <div class="speech-to-text">
      <h2>Speech-to-Text</h2>
      <p><strong>Transcribed Text: </strong>{{ spokenText }}</p>
    </div>
  
    <div class="text-to-speech">
      <h2>Text-to-Speech</h2>
      <textarea [(ngModel)]="textToSpeech" placeholder="Type something to speak"></textarea>
      <button id="speakBtn" (click)="speak()">Speak</button>
    </div>
  </div> -->

  <div class="content d-flex flex-column align-items-center justify-content-center" role="main">
    <div class="fs-3 text-light pb-5 mt-0 pt-0">
      <p #msg></p>
    </div>
    
      <div class="mic-container card shadow">
  
        <div class="circle" id="circle" 
        [ngClass]="{ 'Speaking': isSpeaking }" >
          <i class="fas fa-microphone"></i>
        </div>
        <div class="d-flex">
          <div class="stop" (click)="startConversation()"  >
            <i class="fas fa-play"></i>
          </div>
        <div class="stop"  >
          <i class="fas fa-stop"></i>
        </div>
       
      </div>

       
       
      </div>
     
  
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
      <p style="color: white"> Please wait for AI response </p>
    </ngx-spinner>
  </div>
  
  <!-- <div class="chat-container">
    <p><strong>Bot:</strong> How can I help you?</p>
  
    <p *ngIf="interimTranscript">
      <strong>You (speaking):</strong> {{ interimTranscript }}
    </p>
  
    <p *ngIf="userText">
      <strong>You:</strong> {{ userText }}
    </p>
  
    <p *ngIf="botResponse">
      <strong>Bot:</strong> {{ botResponse }}
    </p>
  
    <p *ngIf="isListening">
      [Listening...]
    </p>
    <button (click)="startConversation()" > Start </button>
  </div> -->
  

  