.parent {
    min-height: 100vh;
    height: auto;
    width: auto;
    background: rgb(174, 238, 224);
    background: radial-gradient(circle, rgba(174, 238, 224, 1) 0%, rgb(112, 169, 238) 100%);
    

}

.box {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(14.5px);
    -webkit-backdrop-filter: blur(14.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: auto;
    border-radius: 40px;
    font-weight: 600;
    color: rgb(23, 19, 51);
}

.ans {
    width: 50%;
    font-size: 1.2rem;
    text-align: justify;
    color: rgb(8, 66, 132);
}
.exp{
    text-shadow: 5px 5px 10px rgb(98, 145, 193);
}